.ketcher-main {
  position: relative;
  height: 100%;
  display: flex;

  .ketcher-body {
    flex: 1;
  }

  .tool-main {
    position: absolute;
    top: 5px;
    right: 180px;
  }
}

.preview-modal {
  :global(.ant-modal-content) {
    :global(.ant-modal-body) {
      height: 65vh;
      overflow-y: hidden;
    }
  }
}
